<!doctype html>

<html lang="en">
<head>

  <script type="text/art">

    .---------------------------------.
    |  .---------------------------.  |
    |[]|                           |[]|
    |  |                           |  |
    |  |    WEBSITE SOURCE CODE    |  |
    |  |         TOP SECRET        |  |
    |  |                           |  |
    |  |                           |  |
    |  |                           |  |
    |  |                           |  |
    |  |                           |  |
    |  `---------------------------'  |
    |      __________________ _____   |
    |     |   ___            |     |  |
    |     |  |   |           |     |  |
    |     |  |   |           |     |  |
    |     |  |   |           |     |  |
    |     |  |___|           |     |  |
    \_____|__________________|_____|__|

</script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>HINGED | {{ .Title }}</title>
  <meta name="description" content="HINGED - A personal website">
  <meta name="author" content="Jamie Adams">
  <meta property="og:title" content="HINGED | {{ .Title }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://hinged.blog">
  <meta property="og:description" content="HINGED - A personal website">
  <meta property="og:image" content="image.png">
  <link rel="alternate" type="application/rss+xml" href="https://hinged.blog/index.xml" title="Everything">
  <link rel="alternate" type="application/rss+xml" href="https://hinged.blog/stream/index.xml" title="Stream">
  <link rel="alternate" type="application/rss+xml" href="https://hinged.blog/bookshelf/index.xml" title="Books">
  <link rel="alternate" type="application/rss+xml" href="https://hinged.blog/essays/index.xml" title="Essays">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script defer data-domain="hinged.blog" src="https://stats.helios.red/js/starwarssucks.js"></script>
  <link href="/css/style.css" rel="stylesheet" type="text/css"/>
  {{ if .Params.accent }}
  <style>
      :root {
      --accent: {{ .Params.accent }};
      }
  </style>
  {{ end }}
  {{ if eq (relURL .URL) ("/stream/" | safeHTML) }}
  <style>.logo-top { filter: invert(18%) sepia(83%) saturate(3400%) hue-rotate(314deg) brightness(85%) contrast(91%);}</style>
  {{ end }}
  {{ if eq (relURL .URL) ("/bookshelf/" | safeHTML) }}
  <style>.logo-top { filter: invert(39%) sepia(85%) saturate(473%) hue-rotate(155deg) brightness(90%) contrast(93%);}</style>
  {{ end }}
  {{ if .IsHome }}
  <style>.logo-top {filter: invert(22%) sepia(97%) saturate(2851%) hue-rotate(357deg) brightness(89%) contrast(93%);}</style>
  {{ end }}
</head>

<body>
  <!-- your content here... -->
