:root {
    --site-background: #f4f0eb;
    --site-body-light: #515151;
    --accent: #c84d1d;
    --accent2: #d9d9d9;
}

/* RESET */

html {
box-sizing: border-box;
font-size: 16px;
}

*, *:before, *:after {
box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
margin: 0;
padding: 0;
font-weight: normal;
}

img {
max-width: 100%;
height: auto;
border-radius: 7.5px;
}

.page-content > figure > img {
  display: block;
  margin: 0px auto;
}

html {
font-size: 18px;
}

/* END RESET */

body {
  background-color: var(--site-background);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  border-top: 10px solid var(--accent);
  font-size: 95%;
}

.container {
  max-width: 950px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  }

figure {
  margin: 1rem 0;
}

blockquote {
	margin-left: 1rem;
	font-style: italic;
	color: var(--site-body-light);
  font-size: 90%;
}

/* TYPOGRAPHY */

h1, h2, h3, h4 {
    margin: 1rem 0;
}

h1 {
	font-weight: bold;
	font-size: 28px;
	line-height: 32px;
	letter-spacing: -0.5px;
}

h2 {
  font-weight: bold;
  margin-top: 2rem;
  font-size: 1em;
  padding-bottom: 8px;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--accent2);
  text-transform: uppercase;
}

h3 {
  font-weight: bold;
  font-size: 1.1rem;
  text-transform: uppercase;
}

p { 
margin: 1rem 0;
line-height: 1.3
}

figcaption {
text-align: center;
font-size: 70%;
}

a {
  text-decoration-style: dotted;
  color: var(--accent);
}

a:hover {
  filter: brightness(0.8);
}

li {
  line-height: 1.5;
}

ul {
  padding-left: 1.5rem;
}

/* PAGE ELEMENTS */

.notice {
	background-color: #edeae6;
	padding: 1em;
	font-size: 0.9rem;
	border-radius: 5px;
	margin-bottom: 2em;
	margin-top: 1em;
	display: flex;
  border: 1px solid var(--accent2);
}

.notice1 {
	background-color: #0085bd12;
	padding: 1em;
	font-size: 14px;
	border-radius: 5px;
	margin-bottom: 2em;
	margin-top: 1em;
	display: flex;
	border: 1px solid var(--accent2);
}

.homepage-grid > div > h2, h2.title {
  color: black;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}

footer {
	text-align: center;
	padding-top: 3rem;
	padding-bottom: 1rem;
}

.page-intro {
  font-style: italic;
  margin-bottom: 1rem;
  color: var(--site-body-light);
 }

.eink-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 2rem;
}

.eink-item {
  max-width: 45%;
  padding-bottom: 2rem;
}

.eink-item-title {
  text-align: center;
  font-weight: bold;
  font-size: 80%;
  padding-top: 1rem;
}

@media only screen and (min-width: 500px) {
  .eink-item {
    max-width: 30%;
    padding-bottom: 2rem;
  }
}
 

/* NAV-MENU */

.logo {
	min-width: 200px;
  max-width: 200px;
	background: var(--accent);
	padding: 10px 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
  text-align: center;
  height: 50px;
  font-size: 22px;
}

.logo > a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin: 0px auto;
}

.logo > a > svg {
  height: 50px;
}

.logo > a:hover {
  filter: none;
}

.masthead-container {
    max-width: 950px;
    margin: 0 auto;
    padding: 0 1rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-menu {
  display: flex;
  flex-wrap: wrap;
  padding-top: 1.5rem;
}

.nav-menu {
  padding-left: 0px;
}

.nav-item {
  margin-right: 0.8em;
}

.nav-item > a {
  text-decoration: none;
}

.plain-list {
	list-style: none;
}

@media only screen and (min-width: 530px) {
  .masthead-container {
    flex-direction: row;
  }
  .nav-menu {
    padding-top: 3rem;
  }
}

/* FRONT PAGE */

.homepage-intro {
  margin-top: 2rem;
}

.homepage-intro > p:nth-child(1) {
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: -0.4px;
 }
 
.homepage-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 20px;
}

.homepage-grid > div {
	flex: 1;
	background-color: #edeae6;
	border: 1px solid var(--accent2);
	padding: 1em;
	font-size: 16px;
	border-radius: 5px;
	margin-top: 20px;
}

.homepage-grid > div > h2 {
  margin-top: 0;
}

.homepage-grid > div > ul {
  padding-left: 0;
}

/* WRITING */

.item {
  border-bottom: 1px solid var(--accent2);
  margin: 0 .5rem 0 0.5rem;
}

/* STREAM */

.go-back {
  padding-bottom: 1rem;
}

.page-info {
  padding-bottom: 1rem;
}

.stream-container {
  /* (A1) RELATIVE POSITION NECESSARY TO PROPERLY POSITION TIMELINE LATER */
  position: relative;
  /* (A2) RESERVE MORE SPACE TO THE LEFT FOR THE TIMELINE */
  padding: 0 10px 10px 30px;
}
  
  /* (B) DRAW TIMELINE USING ::BEFORE */
  .stream-container::before {
    content: '';
    width: 2px;
    background-color: var(--accent2);
    position: absolute;
    top: 7px;
    bottom: 0;
    left: 17px;
  }

  div.stream-item {
    padding: 3px 0 0 20px;
    position: relative;
    border-radius: 6px;
    margin-bottom: 3rem;
  }

  div.stream-item::after {
    content: '';
    background: #fff;
    border: 4px solid var(--accent2);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: absolute;
    top: 7px;
    left: -20px;
  }

  .stream-item-header > a {
      color: black;
      font-weight: bold;
  }

.stream-meta {
  margin-bottom: 1rem;
}

.stream-meta > time {
  margin: 0;
  color: #A8A2A2;
  font-size: 80%;
}

.stream-filter {
  display: flex;
	background-color: #0085bd12;
  border: 1px solid var(--accent2);
	padding: 1em;
	font-size: 14px;
	border-radius: 5px;
  justify-content: space-between;
  margin-bottom: 2em;
	margin-top: 1em;
}

/* Books */

.book-cover {
  width: 125px;
  margin-bottom: 1rem;
}

.stream-item-book-metadata {
  padding-top: 1rem;
  color: var(--site-body);
  font-size: 90%;
}

.book-ratings-table {
	font-size: 85%;
	padding: .5rem 0 .5rem 0;
}

/* MISC */

.h-card {
  display: none;
}

.hide-when-small {
  display: none;
}

.yellow {
  background-color: #fcff91;
}

.light-blue {
  background-color: #deeced;
}

.black {
  color: black;
}

small {
  font-size: 60%;
}

@media only screen and (min-width: 550px) {

  body {
    font-size: 100%;
  }

  .stream-container {
    margin-left: 100px;
  }

  div.stream-item {
    padding: 0px 0 0 20px;
  }

  .stream-meta {
    position: absolute;
    left: -130px;
    width: 100px;
  }

  .book-cover {
    width: 75px;
  }

  .hide-when-small {
    display: unset;
  }

  .item {
    border-bottom: 1px solid var(--accent2);
    margin: 0 1rem 0 1rem;
  }

}

@media only screen and (max-width: 450px) {

  .stream-container {
    padding: 0 10px 0px 30px;
  }

  .stream-container::before {
    left: 0px;
  }

  div.stream-item::after {
    left: -36px;
  }

  div.stream-item {
    padding: 3px 0 0 0px;
  }

  .stream-item-entry > p {
    font-size: 95%;
  }
}

@media only screen and (min-width: 750px) {
  body {
    font-size: 110%;
  }
}

@media only screen and (min-width: 900px) {
  body {
    font-size: 120%;
  }
}



   