{{ partial "header.html" . }}
{{ partial "masthead.html" . }}
<main class="container">
	<img src="/images/fp-image.jpeg" />
    <div class="homepage-intro">
        <p>Hi. I'm Jamie. I like tea, terminals and the internet. <strong style="color: var(--accent)">HINGED</strong> is my weblog and digital garden
        </p>
        <p></p>
        <p>Feel free to reach out by <a class="site-body" style="text-decoration: underline" href="mailto:hello@jamieadams.click">email</a>. I like email.</p> 
    </div>
    <div class="homepage-grid">
        <div>
            <h2>Blog Things</h2>
            <ul class="plain-list">
                <li><a href="/stream/">Stream</a></li>
                <li><a href="/essays/">Essays</a></li>
                <li><a href="/bookshelf/">Bookshelf</a></li>
                <li><a href="/blogroll/">Blogroll & Links</a></li>
            </ul>
        </div>
        <div>
            <h2>Personal</h2>
            <ul class="plain-list">
                <li><a href="/about/">About</a></li>
                <li>Photos</li>
                <li>Stack</li>
                <li>Now</li>
            </ul>
        </div>
        <div>
            <h2>Site Info</h2>
            <ul class="plain-list">
                <li>Colophon</li>
                <li><a href="/disclaimer">Disclaimer</a></li>
                <li><a href="/feeds/">Feeds</a></li>
            </ul>
        </div>
        
        
    </div>
</main>
{{ partial "footer.html" . }}
