{{ partial "header.html" . }}
{{ partial "masthead.html" . }}
<main class="container">
    <header>
        <div class="page-title">
            <h2 class="title">{{ .Title }}</h2>
        </div>
        <div class="page-info">
            <p>Since 2012, I've kept a running list of the books that I have read. This list starts from 2021. Everything else is <a href="https://www.craft.do/s/ZJqyVA9k54oudb">here</a>.</p>
            <p>My rating system goes something like this:</p>
            <table class="book-ratings-table">
                <tr>
                    <td style="width:150px;">👍</td>
                    <td>Terrible. I finished it so you don't have to.</td>
                </tr>
                <tr>
                    <td>👍👍</td>
                    <td>Dissapointing. Not recommended.</td>
                </tr>
                <tr>
                    <td>👍👍👍</td>
                    <td>Met my expections. A solid book.</td>
                </tr>
                <tr>
                    <td>👍👍👍👍</td>
                    <td>Really enjoyable. A great book.</td>
                </tr>
                <tr>
                    <td>👍👍👍👍👍</td>
                    <td>Blown away. An incredible book.</td>
                </tr>
            </table>
            
        </div>
    </header>

    <div class="stream-filter">
        <div><strong>Apply Filter</strong></div>
            <div>
                <label for="all">
                    <input value="all" type="radio" name="filter">
                    All books
                </label>
                
                <label for="fiction">
                    <input value="fiction" type="radio" name="filter">
                    Fiction
                </label>
                
                <label for="non-fiction">
                    <input value="non-fiction" type="radio" name="filter">
                    Non-Fiction
                </label>
            </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function() {
            $('input[type="radio"]').click(function() {
                var inputValue = $(this).attr("value");
                var targetBox = $("." + inputValue);
                $(".stream-item").not(targetBox).hide();
                $(targetBox).show();
            });
        });
    </script>
    <div class="stream-container">
        {{ range .Data.Pages }}
        <div class="stream-item {{ .Params.genre }} all">
            <div class="stream-meta">
            <img src="/images/books/{{ .Params.coverImage }}" class="book-cover" />
            </div>
            <div class="stream-item-content">
            <div class="stream-item-header"><a name="{{ .File.TranslationBaseName }}"><a href="#{{ .File.TranslationBaseName }}">{{ .Title }}</a></a></div>
            <div class="stream-item-book-metadata">
                <div class="book-author">Author: {{ .Params.author }}</div>
                <div class="book-rating">Rating: {{ .Params.rating }}</div>
                <div class="books-date-read">Completed: <time>{{ .Date | time.Format ":date_long" }}</time></div>
            </div>
            <div class="stream-item-entry">{{ .Content }}</div>
            </div>
        </div>
        {{ end }}
    </div>

</main>

{{ partial "footer.html" . }}