{{ partial "header.html" . }}
{{ partial "masthead.html" . }}
<main class="container">
  <article class="h-entry page-content">
    <header>
    <div class="p-name page-title">
      <h1 class="title">{{ .Title }}</h1>
    </div>
    {{ if .Params.intro }}
    <div class="e-summary page-intro">
      {{ .Params.intro }}
    </div>
    {{ end }}
    {{ if .Params.notice }}
    <div class="notice">
      <strong>{{ .Params.notice }}</strong>
    </div>
    {{ end }}
    </header>
    <div class="e-content">
    {{ .Content }}
    </div>
  </article>
</main>

{{ partial "footer.html" . }}