{{ partial "header.html" . }}
{{ partial "masthead.html" . }}
<main class="container">
  <div class="page-content">
    <header>
    <div class="page-title">
      <h1 class="title">{{ .Title }}</h1>
    </div>
    {{ if .Params.intro }}
    <div class="page-intro">
      {{ .Params.intro }}
    </div>
    {{ end }}
    {{ if .Params.notice }}
    <div class="notice">
      <strong>{{ .Params.notice }}</strong>
    </div>
    {{ end }}
    </header>
    {{ .Content }}
  </div>
</main>

{{ partial "footer.html" . }}