{{ partial "header.html" . }}
{{ partial "masthead.html" . }}
<main class="container">
  <header>
  <div class="page-title">
    <h2 class="title">{{ .Title }}</h2>
  </div>
  <div class="page-info">
   {{ .Content }}
   <div class="notice light-blue">Items more than twelve months old are automatically archived.</div>
  </div>
  </header>
  <div class="stream-container">
    {{ range .Data.Pages }}
    <div class="stream-item">
      <div class="stream-meta">
        <time>{{ .Date.Format "2006-01-02" }}</time>
      </div>
      <div class="stream-item-content">
        <div class="stream-item-header"><a name="{{ .File.TranslationBaseName }}"><a href="{{ .Permalink }}">{{ .Title }}</a></a></div>
        <div class="stream-item-entry">{{ .Content }}</div>
      </div>
    </div>
    {{ end }}

  </div>
</main>

{{ partial "footer.html" . }}